body{
    margin: 2%;
}
header {
    height: 50vh;
    background-color: #53eaea;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
}
article {
    height: 50vh;
    width: 30%;
    background-color: #108484;

}
footer {
    height: 80vh;
    background-color: aqua;
}
header, article, footer {
    color: aliceblue;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}